# Small population with recovery

group_name = end-to-end
deterministic = true
seed = 123

initialisation_start = 1687-01-01
simulation_start = 1725-01-01
simulation_end = 1800-01-01
target_initial_population_size = 2000

record_export = false
population_export = false
contingency_table_export = true
validation_export = true

scale_contingency_table_target_frequencies = true
validation_frequency_threshold = 0.0
suppress_solely_categorical_correlations = true

results_save_location = !TEMP!

input_distributions_path = src/test/resources/valipop/distributions

# Expected properties for test

acceptable_validation_score = 20
