# Small population for testing graph export
# Eventual population size: 19065

group_name = test
deterministic = true
seed = 841584

initialisation_start = 1599-01-01
simulation_start = 1855-01-01
simulation_end = 2016-01-01
target_initial_population_size = 1000

record_export = false
population_export = true
contingency_table_export = false

population_export_format = GRAPHVIZ

results_save_location = !TEMP!
input_distributions_path = src/test/resources/valipop/distributions

# Expected properties for test

normalize_names = true
hash_algorithm_name = MD5
expected_hash = fZNzTbFvifDUG7kQyM+UEg==
