group_name = validation-case6

simulation_start = 1855-01-01
simulation_end = 1973-01-01

scale_contingency_table_target_frequencies = true
validation_frequency_threshold = 0.0
suppress_solely_categorical_correlations = true

results_save_location = !TEMP!

# Expected properties for test

expected_validation_score = 84
