# Medium population with small run time

group_name = test
deterministic = true
seed = 2324

initialisation_start = 1700-01-01
simulation_start = 1850-01-01
simulation_end = 1900-01-01
target_initial_population_size = 100000

initialisation_birth_rate = 0.0133
initialisation_death_rate = 0.0133

recovery_factor = 0.5
proportional_recovery_factor = 0.5

record_export = true
population_export = false
contingency_table_export = false
validation_export = false

record_export_format = TD

results_save_location = !TEMP!
input_distributions_path = src/test/resources/valipop/distributions

# Expected properties for test

normalize_names = true
hash_algorithm_name = MD5

expected_birth_records_hash = OFwSKP9wLlV8LjwGfzEpdg==
expected_death_records_hash = rgmP3jRsfaPgTFSwRQ/UCg==
expected_marriage_records_hash = wWl4lNQo0bAvmv7Zm61wPg==

expected_birth_records_count = 108808
expected_death_records_count = 108808
expected_marriage_records_count = 18317
