# Small population with recovery

group_name = test
deterministic = true
seed = 123

initialisation_start = 1687-01-01
simulation_start = 1855-01-01
simulation_end = 1973-01-01
target_initial_population_size = 10000

initialisation_birth_rate = 0.03
initialisation_death_rate = 0.03

record_export = true
population_export = false
contingency_table_export = false
validation_export = false

record_export_format = TD

results_save_location = !TEMP!
input_distributions_path = src/test/resources/valipop/distributions

# Expected properties for test

normalize_names = true
hash_algorithm_name = MD5

expected_birth_records_hash = dXRlr4Y9PQU3ma8Nh/rvjQ==
expected_death_records_hash = 251Z9L7yvrmDcoVGDxalaQ==
expected_marriage_records_hash = xaTQHRzuFzuMlBQr5CiZhQ==

expected_birth_records_count = 48099
expected_death_records_count = 48099
expected_marriage_records_count = 11577
