group_name = testing
deterministic = true
seed = 841584

initialisation_start = 1599-01-01
simulation_start = 1855-01-01
simulation_end = 2016-01-01
target_initial_population_size = 200

record_export = false
population_export = false
contingency_table_export = false
validation_export = false

results_save_location = !TEMP!
input_distributions_path = src/test/resources/valipop/distributions
