<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>467807136</real>
		<key>sheetClusters</key>
		<dict>
			<key>override.css</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>480330980.65705699</real>
				<key>lastModification</key>
				<real>480330980.65705699</real>
				<key>version</key>
				<dict>
					<key>5232b535aca29474c5c0b6b414eb94fb88db5691ccf45543a37142fc219d9f9d</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>override.css</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>5232b535aca29474c5c0b6b414eb94fb88db5691ccf45543a37142fc219d9f9d</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>5232b535aca29474c5c0b6b414eb94fb88db5691ccf45543a37142fc219d9f9d</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
