name: Publish ValiPop factor search images

# Configures this workflow to run every time a change is pushed to the branch called `master`.
on:
  push:
    branches: ['develop']

env:
  REGISTRY: ghcr.io
  LEADER_IMAGE_NAME: ${{ github.repository_owner }}/valiPop-leader
  WORKER_IMAGE_NAME: ${{ github.repository_owner }}/valiPop-worker
  SEARCH_IMAGE_NAME: ${{ github.repository_owner }}/valiPop-search

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  build-and-push-search-images:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      # Uses the `docker/login-action` action to log in to the Container registry registry using the account and password that will publish the packages. Once published, the packages are scoped to the account defined here.
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build valiPop-base, which is a dependency of multiple images
      - name: Build base
        run: |
            sudo apt-get update
            sudo apt-get -y install docker-compose
            docker-compose build base

      # Deploying the leader image for creating clusters

      - name: Extract metadata (tags, labels) for ValiPop leader image
        id: meta-leader
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.LEADER_IMAGE_NAME }}

      - name: Build and push the valiPop leader image
        id: push-leader
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: docker/model/Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta-leader.outputs.tags }}
          labels: ${{ steps.meta-leader.outputs.labels }}
          ulimit: nofile=65536:65536
      
      - name: Generate artifact attestation for valiPop leader image
        uses: actions/attest-build-provenance@c074443f1aee8d4aeeae555aebba3282517141b2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.LEADER_IMAGE_NAME}}
          subject-digest: ${{ steps.push-leader.outputs.digest }}
          push-to-registry: true

      # Deploying the worker image for creating clusters

      - name: Extract metadata (tags, labels) for ValiPop worker image
        id: meta-worker
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.WORKER_IMAGE_NAME }}

      - name: Build and push the valiPop worker image
        id: push-worker
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: docker/model/Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta-worker.outputs.tags }}
          labels: ${{ steps.meta-worker.outputs.labels }}
          ulimit: nofile=65536:65536
      
      - name: Generate artifact attestation for valiPop worker image
        uses: actions/attest-build-provenance@c074443f1aee8d4aeeae555aebba3282517141b2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.WORKER_IMAGE_NAME}}
          subject-digest: ${{ steps.push-worker.outputs.digest }}
          push-to-registry: true

      # Deploy the factor search image

      - name: Extract metadata (tags, labels) for ValiPop search image
        id: meta-search
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.SEARCH_IMAGE_NAME }}

      # Builds and pushes the ValiPop search image
      - name: Build and push the ValiPop search image
        id: push-search
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          file: docker/model/Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta-search.outputs.tags }}
          labels: ${{ steps.meta-search.outputs.labels }}
          ulimit: nofile=65536:65536
      
      # Generates artifact attestation for the ValiPop search image
      - name: Generate artifact attestation for ValiPop search image
        uses: actions/attest-build-provenance@c074443f1aee8d4aeeae555aebba3282517141b2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.SEARCH_IMAGE_NAME}}
          subject-digest: ${{ steps.push-search.outputs.digest }}
          push-to-registry: true
